.App {
  text-align: center;
}

.phone {
  margin: auto;
  width: 20%;
  border: 2px darkgrey solid;
  border-radius: 5px;
}

.display {
  border: 1px grey solid;
  height: 300px;
  margin: 3px;
  overflow: auto;
}

.buttons {
  margin: 3px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.anotherButton {
  flex: 0 0 33.333333%;
  margin-top: 2px;
  margin-bottom: 2px;
}
